

$primarycolor: #0C4472;
$seccolor: #ef476f;
html {
    scroll-behavior: smooth;
}
html,
body,
p,
div,
a {
    font-family: "Montserrat", sans-serif;
}
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


.top-100 {
    top: 100%;
}
.bottom-100 {
    bottom: 100%;
}
.left-100 {
    left: 100%;
}
.right-100 {
    right: 100%;
}

.navbar {
    .sub-category-wrapper {
        height: 0px;
    }
    .products-wrapper {
        display: none;
        z-index: -1;
    }
    .sub-category {
        display: none;
        z-index: -1;
    }
    .product-info {
        display: none;
    }
    .category {
        &:hover {
            .sub-category-wrapper {
                height: auto;
                border: 1px solid #e2e8f0;
                @include lg-max {
                    height: auto;
                    border: none;
                }
            }
            .sub-category {
                display: block;
                z-index: 1;
                &:hover {
                    > a {
                        color: $seccolor;
                    }
                    .products-wrapper {
                        display: block;
                        z-index: 1;
                        .product {
                            &:hover {
                                > a {
                                    color: $seccolor;
                                }
                                .product-info {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.points-grid {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        top: -15px;
        width: 1px;
        height: 30px;
        background: #1a202c;
        @include lg-max {
            display: none;
        }
    }
    &.product-points-grid {
        &:before {
            height: 15px;
            @include lg-max {
                display: none;
            }
        }
    }
    .point {
        position: relative;
        &:first-child {
            &:before {
                content: "";
                position: absolute;
                left: 50%;
                top: 0px;
                width: 1px;
                height: 15px;
                background: #1a202c;
                @include lg-max {
                    display: none;
                }
            }
        }
        &:last-child {
            &:before {
                content: "";
                position: absolute;
                left: 50%;
                top: -1px;
                width: 1px;
                height: 15px;
                background: #1a202c;
                z-index: 2;
                @include lg-max {
                    display: none;
                }
            }
        }
        &:first-child {
            &:after {
                content: "";
                position: absolute;
                left: 0px;
                top: -2px;
                width: 50%;
                height: 3px;
                background: white;
                @include lg-max {
                    display: none;
                }
            }
        }
        &:last-child {
            &:after {
                content: "";
                position: absolute;
                right: 0px;
                top: -2px;
                width: 50%;
                height: 3px;
                background: white;
                @include lg-max {
                    display: none;
                }
            }
        }
        &.four {
            &:before {
                content: "";
                position: absolute;
                left: 50%;
                top: -1px;
                width: 1px;
                height: 15px;
                background: #cbd5e0;
                z-index: 2;
                @include lg-max {
                    display: none;
                }
            }
            &:after {
                content: "";
                position: absolute;
                right: 0px;
                top: -2px;
                width: 50%;
                height: 3px;
                background: white;
                @include lg-max {
                    display: none;
                }
            }
            @include lg-max {
                display: none;
            }
        }
    }
    &.product-points-grid {
        .point {
            &:nth-child(2) {
                &:before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 0px;
                    width: 1px;
                    height: 15px;
                    background: #1a202c;
                    @include lg-max {
                        display: none;
                    }
                }
            }
            &:nth-child(3) {
                &:before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 0px;
                    width: 1px;
                    height: 15px;
                    background: #1a202c;
                    @include lg-max {
                        display: none;
                    }
                }
            }
        }
    }
    &.lightgray {
        &:before {
            background: #cbd5e0;
        }
        .point {
            &:first-child {
                &:before {
                    background: #cbd5e0;
                }
            }
            &:nth-child(2) {
                &:before {
                    background: #cbd5e0;
                }
            }
            &:nth-child(3) {
                &:before {
                    background: #cbd5e0;
                }
            }
        }
    }
}

.product-swiper-pagination {
    .swiper-pagination-bullet {
        width: 6px!important;
        height: 6px!important;
        // border-radius: 50%!important;
    }
    .swiper-pagination-bullet-active {
        background: $primarycolor!important;
    }
}

.grayscaleimage {
    filter: grayscale(100%);
    &:hover {
        filter: grayscale(0%);
    }
}

.multiselect__single {
    text-transform: capitalize;
}
.multiselect__option--highlight {
    background: $primarycolor!important;
}

.multiselect__option--highlight:after {
    background: darken($primarycolor, 10%)!important;
}

.multiselect__option--selected.multiselect__option--highlight {
    background: $seccolor!important;
}
.multiselect__option--selected.multiselect__option--highlight:after {
    background: darken($seccolor, 10%)!important;
}
.multiselect__option span {
    text-transform: capitalize;
}

.product-quantity-chart {
    li {
        position: relative;
        span {
            &:before {
                content: "";
                position: absolute;
                left: 50%;
                top: 0px;
                width: 1px;
                height: 35px;
                background: #1a202c;
            }
        }
        &:last-child {
            &:after {
                content: "";
                position: absolute;
                right: -1px;
                top: -5px;
                width: 50%;
                height: 10px;
                background: white;
                z-index: 11;
            }
        }
        &:first-child {
            &:after {
                content: "";
                position: absolute;
                left: 0px;
                top: -5px;
                width: 50%;
                height: 10px;
                background: white;
                z-index: 11;
            }
        }
    }
}

.turnaround-lines {
        &:after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            border-right: 1px dashed #2c87cc;
            border-bottom: 1px dashed #2c87cc;
            transform: rotate(-45deg);
            top: -8px;
            right: 0px;
        }
    &.circle {
        &:after {
            border: 1px dashed #2c87cc!important;
            transform: rotate(0deg);
            border-radius: 50%;
            top: -10px;
            left: 100%;
            right: inherit;
        }
    }
    &.gray-lines {
        &:after {
            border-right: 1px dashed #a0aec0;
            border-bottom: 1px dashed #a0aec0;
            top: -9px;
        }
    }
}

.turnaround-lines-vertical {
    .arrow {
        &:after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            border-right: 1px dashed #2c87cc;
            border-bottom: 1px dashed #2c87cc;
            transform: rotate(45deg);
            left: -11.7px;
            bottom: 0px;
        }
    }
}

.how-to-order {
    &:after {
        content: "▲";
        position: absolute;
            font-size: 35px;
            top: -34px;
            color: #EDF0F0;
    }
    &.one {
        &:after {
            left: 12%;
        }
    }
    &.two {
        &:after {
            left: 36%;
        }
    }
    &.three {
        &:after {
            left: 60%;
        }
    }
    &.four {
        &:after {
            left: 85%;
        }
    }
}

input:checked ~ .shirt {
    background-color: #cbd5e0;
}

.box-arrow {
    position: relative;
    &:before {
        // content: '';
        // position: absolute;
        // padding-bottom: inherit;
        // margin: auto;
        // top: -11px;
        // left: 75px;
        // width: 20px;
        // height: 20px!important;
        // transform: rotate(45deg);
        // border-top: 1px solid #aa8860;
        // border-left: 1px solid #aa8860;
        // border: 1px solid #aa8860;
        // background-color: #fff;
    }
}


.v-lazy-image {
    filter: blur(10px);
    transition: filter 0.7s;
}
.v-lazy-image-loaded {
    filter: blur(0);
}


// Variables
$facebook: #3b5998;
$twitter: #1da1f2;

// Custom CSS
.bg-facebook {
  background-color: $facebook;

  &:hover {
    background-color: darken($facebook, 5%);
  }
}

.bg-twitter {
  background-color: $twitter;

  &:hover {
    background-color: darken($twitter, 5%);
  }
}






// logo slider
      .gallery-item {
        scroll-snap-align: start;
      }
      .gallery {
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
      }

      //google review

      .serif {
          font-family: 'Zilla Slab', serif;
      }

      [x-cloak] { display: none; }

      .grid-indigo {
          background-image: radial-gradient(#5a67d8 2px, transparent 2px);
      }



      // new

      .footer-links {
        a {
          padding-bottom: 2px;
        }
      }


// whats app floating

      .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        left:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
      font-size:30px;
        box-shadow: 2px 2px 3px #999;
      z-index:100;
    }

    .my-float{
        margin-top:16px;
    }


    // social media links


// Get a free quote
.get-a-free-quote {
    animation: swing 1s cubic-bezier(0.420, 0.000, 0.580, 1.000) alternate infinite;
}

@keyframes swing {
    to {
        transform: rotateY(3deg) skewY(3deg);
    }
}


.swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
  }
  
.swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
}







    /* Change pagination dot color */

    .swiper-pagination-bullet {
        background-color: black;
        /* Change to black */
    }

    /* Change pagination dot active color */

    .swiper-pagination-bullet-active {
        background-color: black;
        /* Change to black */
    }

    /* Change navigation arrow color */

    .swiper-button-next,
    .swiper-button-prev {
        color: black;
        /* Change to black */
    }

    /* Style for the pagination dots */

    .swiper-pagination {
        position: absolute;
        /* bottom: 20px; */
        /* Adjust this value as needed */
        padding-top: 20px;
        /* Add padding to the top to create space */
    }